html {
  font-family: sans-serif;
  background-color: #00a0c41f;
  background-image: url("https://www.transparenttextures.com/patterns/wavecut.png");
  background-size: 100%;
}

.wholeContainer {
  border-left: 1px solid #00A0C44d;
  border-right: 1px solid #00a0c44d;
  box-shadow: 0 0 35px 1px #00A0C4;
  background: aliceblue;
  margin: 0 4%;
  width: 92%;
}

header, nav, main, footer {
  padding: 1%;
}

.sccLogo {
  max-height: 100px;
}

.center {
  text-align: center;
}

.latest {
  width: 25%;
}
  .latestItem {
    border: 1px solid #00a0c44d;
    padding: 0 5%;
    margin: 3%;
  }
